<h1>David Lunch</h1>
<p>On s'en met plein derrière la cravatte à moins de 15 minutes du 15.</p>

<br/><br/>
<hr/>
<h2>Les catégories</h2>
<a href="<%= categories_path %>">Gérer les catégories</a>
<br/><br/>
<% @categories.each do |category| %>
	<a class="category" href="<%= category_path category %>">
		<span class="category_title">
			<%= category.title %>
		</span>
	</a>
<% end %>
<div class="clearfix"></div>

<br/><br/>
<hr/>
<h2>Les adresses</h2>
<a href="<%= adresses_path %>">Gérer les adresses</a>
<br/><br/>


<% @adresses.each do |adresse| %>
	<div class="adresse_carte">
		<a class="adresse_title" href="<%= adress_path adresse %>">
			<%= adresse.title %>		
		</a>
		<br/>
		<% @category = Category.find(adresse.category_id) %>
		<a class="category_title" href="<%= category_path @category %>">
			<%= @category.title %>
		</a>
	</div>
<% end %>

<div class="clearfix"></div>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>

<script type="text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers([
    {
      "lat": 0,
      "lng": 0,
      "picture": {
        "url": "http://people.mozilla.com/~faaborg/files/shiretoko/firefoxIcon/firefox-32.png",
        "width":  32,
        "height": 32
      },
      "infowindow": "hello!"
    }
  ]);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>