<div class="section section_site_title">
	<h1 class="site_title">David Lunch</h1>

	<%= image_tag("hungry.png", :width => "50px", :class => "logo") %>

</div>

<div class="section section_categories_list">
	<% @categories.each do |category| %>
		<%= render partial: "/categories/category_card", locals: {category: category} %>
	<% end %>
	<div class="clearfix"></div>
</div>

<div class="section last_adresses_list">
	<h2>Les dernières adresses</h2>
	<% @last_adresses.each do |adresse| %>
		<%= render partial: "/adresses/adresse_card", locals: {adresse: adresse} %>
	<% end %>
	<div class="clearfix"></div>
</div>

<div class="section mister_lunch_list">
	<h2>Lucky Lunch</h2>
	<% @random_adresses.each do |adresse| %>
		<%= render partial: "/adresses/adresse_card", locals: {adresse: adresse} %>
	<% end %>
	<div class="clearfix"></div>
</div>

<div class="section_full">
	<div style='width: 100%;'>
  		<div id="map" style='width: 100%; height: 400px;'></div>
	</div>
</div>

<script type="text/javascript">
handler = Gmaps.build('Google');
handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
  markers = handler.addMarkers(<%=raw @hash.to_json %>);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
});
</script>
<a href="<%= adresses_path %>">Gérer les adresses</a>
<a href="<%= categories_path %>">Gérer les catégories</a>