<div class="section_site_gif" style="background-image: url(<%= @randomgif.gif %>)">
  <h1>David Lunch</h1>

</div>

<div class="section section_site_title">
	<%= image_tag("hungry.png", :width => "50px", :class => "logo") %>
</div>

<div class="section section_categories_list">
	<% @categories.each do |category| %>
		<%= render partial: "/categories/category_card", locals: {category: category} %>
	<% end %>
  <% @usecases.each do |usecase| %>
    <%= render partial: "/usecases/usecase_card", locals: {usecase: usecase} %>
  <% end %>
	<div class="clearfix"></div>
</div>

<div class="section section_content">
  <div class="last_adresses_list">
  	<h2>Les dernières adresses</h2>
  	<% @last_adresses.each do |adresse| %>
  		<%= render partial: "/adresses/adresse_card", locals: {adresse: adresse} %>
  	<% end %>
  	<div class="clearfix"></div>
  </div>

  <div class="mister_lunch_list">
  	<h2>Lucky Lunch</h2>

  		<%= render partial: "/adresses/adresse_card_full", locals: {adresse: @random_adresses} %>

  	<div class="clearfix"></div>
  </div>
</div>