<a href="<%= adress_path @adresse %>">retour</a>

<h1>Modifier : <%= @adresse.title %></h1>

<%= simple_form_for @adresse do |f| %>
	 <%= f.error_notification %>

	 <%= f.input :title, label: 'Nom :', error: 'obligatoire' %>

	 <%= f.input :description, label: 'Description :', error: 'obligatoire' %>

	 <%= f.association :category %>

	 <%= f.input :price %>

	 <%= f.input :time_to_go %>

	 <%= f.input :credit_card %>

	 <%= f.input :latitude %>

	 <%= f.input :longitude %>

	 <%= f.button :submit %>

<% end %>