<a href="<%= adress_path @adresse %>">retour</a>

<h1>Modifier : <%= @adresse.title %></h1>

<%= simple_form_for @adresse do |f| %>
	 <%= f.error_notification %>

	 <%= f.input :title, label: 'Nom :', error: 'obligatoire' %>

	 <%= f.input :description, label: 'Description :', error: 'obligatoire' %>

	 <%= f.association :category %>

	 <%= f.input :price %>

	 <%= f.input :time_to_go %>

	 <%= f.input :credit_card %>

	 <%= f.gmap_coordinate_picker :lat_column => 'latitude', :lng_column => 'longitude' , :zoom_level => 16, :default_coordinates => [48.869267,2.3477251], :api_key => 'AIzaSyDIi_Y7sQ3WtRrysyF4A-zz75f8W2IhNYw'  %>

	 <%= f.button :submit %>

<% end %>