<div class="page_form">
	

	<a class="back" href="javascript:history.back()">RETOUR</a>

	<div class="section section_site_title">
			<h1>Ajouter une adresse</h1>
		</div>

	<div class="section section_form">

	<%= simple_form_for @adresse do |f| %>

		<label for="adresse_title">NOM</label>
		<%= f.input :title, label: false, required: true %>

		<label for="adresse_description">DESCRIPTION</label>
		<%= f.input :description, label: false %>

		<label for="adresse_category">CATÉGORIE</label>
		<%= f.association :category, label: false, required: true %>
		 
		<label for="adresse_subcategory">SOUS-CATÉGORIE</label>
		<%= f.association :subcategory, label: false, required: true %>

		<label for="adresse_subcategory" class="label_with_margin">UNE BONNE ADRESSE SI</label>
		<%= f.association :usecases, label: false, :as => :check_boxes %>
		<div class="clearfix"></div>

		<label for="adresse_price">PRIX (ex: 3€ les 24 huitres)</label>
		<%= f.input :price, label: false %><div class="euro">€</div> <%= f.input :price_detail, label: false %>
		<div class="clearfix"></div>

		<label for="gmap" class="label_with_margin">LOCALISATION</label>
		 <%= f.gmap_coordinate_picker :lat_column => 'latitude', :lng_column => 'longitude' , :zoom_level => 16, :default_coordinates => [48.869267,2.3477251], :api_key => 'AIzaSyDIi_Y7sQ3WtRrysyF4A-zz75f8W2IhNYw'  %>

		 <%= f.button :submit %>

	<% end %>
	</div>
</div>
