<a href="<%= adresses_path %>">RETOUR</a>

<h1>Ajouter une adresses</h1>

<%= simple_form_for @adresse do |f| %>

	 <%= f.input :title, label: 'Nom :', error: 'obligatoire' %>

	 <%= f.input :description, label: 'Description :', error: 'obligatoire' %>

	 <%= f.association :category, required: true %>
	 
	 <%= f.association :subcategory, required: true %>

	 <%= f.association :usecases, :as => :check_boxes %>

	 <%= f.input :price %>

	 <%= f.input :price_detail %>

	 <%= f.input :time_to_go %>

	 <%= f.input :credit_card %>

	 <%= f.gmap_coordinate_picker :lat_column => 'latitude', :lng_column => 'longitude' , :zoom_level => 16, :default_coordinates => [48.869267,2.3477251], :api_key => 'AIzaSyDIi_Y7sQ3WtRrysyF4A-zz75f8W2IhNYw'  %>

	 <%= f.button :submit %>

<% end %>
