<a href="<%= adresses_path %>">RETOUR</a>

<h1>Ajouter une adresses</h1>

<%= simple_form_for @adresse do |f| %>

	 <%= f.input :title, label: 'Nom :', error: 'obligatoire' %>

	 <%= f.input :description, label: 'Description :', error: 'obligatoire' %>

	 <%= f.association :category, required: true %>

	 <%= f.input :price %>

	 <%= f.input :time_to_go %>

	 <%= f.input :credit_card %>

	 <%= f.input :latitude %>

	 <%= f.input :longitude %>

	 <%= f.button :submit %>

<% end %>
