<%
	  		distance_mile = @adresse.distance_from([48.869267,2.3477251]) 
      	distance_jauge = distance_mile/0.4*100
      	if distance_jauge > 100
        	distance_jauge = 100
      	end
      	distance_metres = (distance_mile*1.609)*1000
      	distance_minutes = distance_metres*0.013
      %>

<a class="back" href="javascript:history.back()">RETOUR</a>

<div class="section section_site_title">
	<h1 class="site_title adressetitle"><%= @adresse.title %></h1>
	<div class="adresse_price ligne_info">
		<span class="bold"><%= @adresse.price %>€</span> <%= @adresse.price_detail %>
	</div>			
	<div class="temps_adresse ligne_info">
	à <span class="bold"><%= eval '%.0f' % distance_minutes %> minute<% if distance_minutes > 2 %>s<% end %></span> de l'agence
	</div>
	<div class="description ligne_info">
	  	<%= @adresse.description %>
	  	<% 
	  	if @adresse.description == "" %>
	  		<!--<a class="edit_adresse_link" href="<%= edit_adress_path @adresse %>">Ajouter une description</a>-->
	  	<% end %>
	</div>
  <%= link_to "Mettre à jour ces infos", edit_adress_path, 'data-turbolinks' => false, class: 'edit_adresse_btn' %>
</div>


<div class="section section_adresse_content">
  <div style='width: 100%;'>
      <div id="map" class="adresse_map"></div>
  </div>

</div>



<script type="text/javascript">


var directionsDisplay = new google.maps.DirectionsRenderer();
var directionsService = new google.maps.DirectionsService();

function calcRoute() {
  var origin      = new google.maps.LatLng(48.869267, 2.3477251);
  var destination = new google.maps.LatLng(<%= @adresse.latitude %>, <%= @adresse.longitude %>);

  var request = {
      origin:      origin,
      destination: destination,
      travelMode:  google.maps.TravelMode.WALKING
  };
  directionsService.route(request, function(response, status) {
    if (status == google.maps.DirectionsStatus.OK) {
      directionsDisplay.setDirections(response);
    }
  });
}

calcRoute();

var handler = Gmaps.build('Google');
handler.buildMap({ provider: {styles: [
  {
    "featureType": "poi.business",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "poi.park",
    "elementType": "labels.text",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  }
]}, internal: {id: 'map'}}, function(){
  directionsDisplay.setMap(handler.getMap());
});

</script>




<script>
var handler = Gmaps.build('DD');
handler.buildMap({ provider: {styles: [
  {
    "featureType": "poi.business",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "poi.park",
    "elementType": "labels.text",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  }
]}, internal: {id: 'map'}}, function(){
  var markers = handler.addMarkers([
    { 
      lat: <%= @adresse.latitude %>, 
      lng: <%= @adresse.longitude %>, 
      picture: {
        url: "<%= image_url("marker.png") %>",
        width:  38,
        height: 46
      }
    },
    { 
      lat: 48.869267, 
      lng: 2.3477251,
      picture: {
        url: "<%= image_url("markeraf83.png") %>",
        width:  38,
        height: 46
      }
    }
  ]);
  handler.bounds.extendWith(markers);
  handler.fitMapToBounds();
  handler.buildMap({ internal: {id: 'directions'}}, function(){
    directionsDisplay.setMap(handler.getMap());
  });
});
</script>

<div class="section section_adresse_content">



  <h2>Va chez <span class="adressetitle"><%= @adresse.title %></span> si</h2>

  <% @usecases.each do |usecase| %>
    <%= render partial: "/usecases/usecase_second_card", locals: {usecase: usecase} %>
  <% end %>

</div>


<!--
<br/><br/><br/><br/><br/><br/><br/><br/>
<hr/>
<%= @adresse.inspect %>
<hr/>
<%= @usecases.inspect %>
<hr/>
-->
