<a class="back" href="<%= category_path @category.id %>">RETOUR</a>

<div class="section section_site_title">
	<h1 class="site_title"><%= @adresse.title %></h1>
</div>



<hr/>
<%= @adresse.inspect %>
<hr/>


<a href="<%= edit_adress_path @adresse %>">Modifier cette adresse</a>
<%= link_to 'Supprimer cette adresse', adress_path(@adresse),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>