<div class="section section_adresse_infos">
	<a href="<%= adresses_path %>">retour à la liste des adresses</a>

	<h1 class="adresse_title"><%= @adresse.title %></h1>

	<p>Catégorie : <br/><%= @category.title %> / <%= @subcategory.title %></p>
	<p>Description : <br/><%= @adresse.description %></p>
	<p>Prix : <br/><%= @adresse.price %></p>
	<p>Accepte la carte bleue : <br/><%= @adresse.credit_card %></p>
	<p>Latitude : <br/><%= @adresse.latitude %></p>
	<p>Longitude : <br/><%= @adresse.longitude %></p>

</div>




<hr/>
<%= @adresse.inspect %>
<hr/>


<a href="<%= edit_adress_path @adresse %>">Modifier cette adresse</a>
<%= link_to 'Supprimer cette adresse', adress_path(@adresse),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>