<a class="back" href="javascript:history.back()">RETOUR</a>

<div class="section section_site_title">
	<h1 class="site_title"><%= @adresse.title %></h1>

		<%
	  	distance_mile = @adresse.distance_from([48.869267,2.3477251]) 
      	distance_jauge = distance_mile/0.4*100
      	if distance_jauge > 100
        	distance_jauge = 100
      	end
      	distance_metres = (distance_mile*1.609)*1000
      	distance_minutes = distance_metres*0.013
      	%>
</div>
<div class="section section_adresse_content">
  <a class="go" target="blank" href="https://www.google.fr/maps/dir/af83,+15+Rue+Poissonni%C3%A8re,+75002+Paris/'<%= @adresse.latitude %>,<%= @adresse.longitude %>'/@48.8700547,2.3458111,17z/data=!3m1!4b1!4m11!4m10!1m5!1m1!1s0x47e66e1650f28687:0xe4c0c4ee9aaa7800!2m2!1d2.3477251!2d48.869267!1m3!2m2!1d2.3477268!2d48.8708406">Y aller en <%= eval '%.0f' % distance_minutes %> min</a>

  <h2>David te recommande particulièrement <span class="adresse_title"><%= @adresse.title %></span> si</h2>

  <% @usecases.each do |usecase| %>
    <%= render partial: "/usecases/usecase_card", locals: {usecase: usecase} %>
  <% end %>

</div>

<br/><br/><br/><br/><br/><br/><br/><br/>
<hr/>
<%= @adresse.inspect %>
<hr/>
<%= @usecases.inspect %>
<hr/>

<a href="<%= edit_adress_path @adresse %>">Modifier cette adresse</a>
<%= link_to 'Supprimer cette adresse', adress_path(@adresse),
              method: :delete,
              data: { confirm: 'Are you sure?' } %>