<a href="<%= welcome_home_url %>">RETOUR</a>

<h1>Gestion des catégories</h1>

<a href="<%= new_category_path %>">Ajouter une nouvelle catégorie</a>

<br/><br/>

<% @categories.each do |category| %>
	
	<a class="" href="<%= category_path category %>">
		<span class="category_title">
			<%= category.title %>
		</span>
	</a>
	-
	<a href="<%= edit_category_path(category.id) %>">
		Modifier
	</a>
	 - 
	<%= link_to 'Supprimer', category_path(category.id),
              method: :delete,
              data: { confirm: 'Ca risque de foutre le bordel man' } %>
   	<br/>
<% end %>


