<!DOCTYPE html>
<html>
  <head>
    <title>David Lunch</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900" rel="stylesheet">

    <% unless params[:controller] == "adresses" && params[:action] == "new" %>
      <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
      <script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script> <!-- only if you need custom infoboxes -->
    <% end %>

    <%= favicon_link_tag 'hungryfavicon.png' %>

  </head>

  <body>
    <div class="container container_header">

      <a class="site_title" href="<%= welcome_home_url %>">David Lunch</a>

      <div class="connection">
        <%= link_to "Ajouter une adresse", new_adress_path, 'data-turbolinks' => false, class: 'new_adresse' %>

        <% if user_signed_in? %>
          <%= link_to('Se déconnecter', destroy_user_session_path, :method => :delete, :class=> "connection_link") %>
        <% else %>
            <a class="connection_link" href="<%= new_user_registration_path %>">S'inscrire</a><a class="connection_link" href="<%= new_user_session_path %>">Se connecter</a>
        <% end %>
      </div>
  	</div>

    <div class="container container_body">
      <div class="container_content">
        <%= yield %>
      </div>
    </div>

  </body>
</html>
